{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'styles/side_bar.css' %}">
</head>

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark side-bar" style="width: 260px; height: 100vh; background-color: #212529 !important;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Olá {{ user.username }}!</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'dashboard' %}" class="nav-link{% if request.path == '/dashboard/' %} active{% else %} text-white {% endif %}" aria-current="page">
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
        </a>
      </li>
      <hr>
      <li class="nav-item">
        <a href="#" id="buttonMenu" class="nav-link" onclick="InterageMenu()" aria-current="page" style="display: flex; justify-content: space-between; align-items: center; color: white;">
          Finanças
          <i id="arrow" class="fas fa-arrow-down"></i>
        </a>
        <ul class="menu" id="menu">
          <li>
            <p class="dropdown-header text-left">Atualizar finanças:</p>
          </li>
          <li>
            <a href="{% url 'balance_create' %}" id="balance_link" class="nav-link{% if request.path == '/balance_create/' %} active{% else %} text-white {% endif %}">
              <i class="fas fa-money-bill-wave"></i>
              Adicionar Saldo
            </a>
          </li>
          <li>
            <a href="{% url 'income_create' %}" id="income_link" class="nav-link{% if request.path == '/income_create/' %} active{% else %} text-white {% endif %}">
              <i class="bi bi-graph-up-arrow"></i>
              Adicionar Receita
            </a>
          </li>
          <li>
            <a href="{% url 'expense_create' %}" id="expense_link" class="nav-link{% if request.path == '/expense_create/' %} active{% else %} text-white {% endif %}">
              <i class="bi bi-graph-down-arrow"></i>
              Adicionar Despesa
            </a>
          </li>
          <li>
            <p class="dropdown-header text-left">Ver finanças:</p>
          </li>
          <li>
            <a href="{% url 'balance_list' %}" id="balance_link" class="nav-link text-white">
              <i class="fas fa-clipboard"></i>
              Listar Saldo
            </a>
          </li>
          <li>
            <a href="{% url 'income_list' %}" id="income_link" class="nav-link text-white">
              <i class="fas fa-clipboard"></i>
              Listar Receitas
            </a>
          </li>
          <li>
            <a href="{% url 'expense_list' %}" id="expense_link" class="nav-link text-white">
              <i class="fas fa-clipboard"></i>
              Listar Despesas
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user-circle"></i>
        <strong>{{ user.username }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="background-color: #343a40;">
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
      </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{% static 'scripts/side_bar.js' %}"></script>