{% load static %}

{% include 'partials/_head.html' %}

<head>
    <link rel="stylesheet" href="{% static 'styles/income_form.css' %}">
</head>

<body>
    {% include 'partials/_side_bar.html' %}

    <div class="content">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>{{ detail_what }} {{ object.pk }}</h1>
                <ul>
                    <li>Data: {{ object.date|date }}</li>
                    <li>Tipo: {{ object.get_type_display }}</li>
                    <li>Valor: R$ {{ object.value }}</li>
                    {% if datail_what != 'Balance' %}
                        <li>Repetir: {{ object.repetitive }}</li>
                        {% if object.repetitive %}
                            <li>
                                Por: {{ object.repetition_time }} {{ object.get_repetition_interval_display }}
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% if detail_what == 'Income' %}
                    <a href="{% url 'income_update' object.pk %}">Editar</a>
                    <a href="{% url 'income_delete' object.pk %}">Delete</a>
                {% elif detail_what == 'Expense' %}
                    <a href="{% url 'expense_update' object.pk %}">Editar</a>
                    <a href="{% url 'expense_delete' object.pk %}">Delete</a>
                {% elif detail_what == 'Balance' %}
                    <a href="{% url 'balance_update' object.pk %}">Editar</a>
                    <a href="{% url 'balance_delete' object.pk %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>