{% load static %}

{% include 'partials/_head.html' %}

<head>
    <link rel="stylesheet" href="{% static 'styles/_form.css' %}">
</head>

<body>
    {% include 'partials/_side_bar.html' %}

    <div class="content">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                
                <div class="delete">
                    
                    <form method="post">{% csrf_token %}
                        <h1 class="text-left mb-4">{{ delete_what }} {{ object.pk }}</h1>

                        <p>Tem certeza de que deseja excluir "{{ object }}"?</p>

                        <input class="btn btn-danger col-lg-6 mt-2" type="submit" value="Confirm">
                    </form>

                </div>
    
            </div>
        </div>
    </div>
</body>