{% load static %}

{% include 'partials/_head.html' %}

<head>
    <link rel="stylesheet" href="{% static 'styles/income_form.css' %}">
</head>

<body>
    {% include 'partials/_side_bar.html' %}

    <div class="content">
        <div class="row">
            <div class="col-lg-8 mx-auto">
    
                <h1>Income {{ object.pk }}</h1>
                <ul>
                    <li>Data: {{ income.date|date }}</li>
                    <li>Tipo: {{ income.get_type_display }}</li>
                    <li>Valor: R$ {{ income.value }}</li>
                    <li>Repetir: {{ income.repetitive }}</li>
                    {% if income.repetitive %}
                    <li>
                        Por: {{ income.repetition_time }} {{ income.get_repetition_interval_display }}
                    </li>
                    {% endif %}
                </ul>
            <a href="{% url 'income_update' object.pk %}">Editar</a>
            <a href="{% url 'income_delete' object.pk %}">Delete</a>
            </div>
        </div>
    </div>
</body>