{% load static %}

{% include 'partials/_head.html' %}

<head>
    <link rel="stylesheet" href="{% static 'styles/income_form.css' %}">
</head>

<body>
    {% include 'partials/_side_bar.html' %}

    <div class="content">
        <div class="row">
            <div class="col-lg-8 mx-auto">
    
                <h1>Incomes</h1>
                <ul>
                    {% for income in object_list %}
                        <li>
                            <a href="{% url 'income_detail' income.pk %}">
                                {{ income.date|date }} - {{ income.get_type_display }} - {{ income.value }} - Repetitive: {{ income.repetitive }}
                                {% if income.repetitive %}
                                    every {{ income.repetition_time }} {{ income.get_repetition_interval_display }}
                                {% endif %}
                            </a>
                        </li>
                    {% empty %}
                        <li>No incomes yet.</li>
                    {% endfor %}
                </ul>
    
            </div>
        </div>
    </div>
</body>