@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: #edf3fb;
}

.title {
    font-family: 'Maven Pro', sans-serif;
    font-size: 2.0243rem;
    font-weight: 500;
    margin-bottom: 35px;
}

.content {
    padding: 35px 20px;
    max-width: 85%;
    min-width: 85%;
}

.row {
    justify-content: space-between;
    padding: 0 25px;
}

i {
    margin-right: 10px;
}

.form {
    background-color: #fff;
    padding: 25px;
    border-radius: 25px;
    margin-top: 100px;
}

.form-control {
    border: none;
    outline: none;
    border-bottom: 2px solid #1890ff;
    border-radius: 0px;
}

#id_value::-webkit-outer-spin-button,
#id_value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}