i {
    margin-right: 10px;
}

.menu {
    margin-top: 5px;
    padding: 0 0 8px 0;
    background-color: #2f2841;
    border-radius: 5px;
    text-align: left;
    display: block;
}

.menu > li {
    list-style: none;
}

.nav-link:nth-child(1):hover {
    transition: .3s;
    background-color: #2f2841;
}

#link:hover {
    transition: .3s;
    background-color: #201b2c;
}

.active {
    background: #514869 !important;
    color: #f0ffffde !important;
    font-weight: 500;
}

.text-white {
    color: #f0ffffde !important;
}