{% load static %}

{% include 'partials/_head.html' %}


<body class="login-page" style="min-height: 496.781px;">
    <div class="login-box">
      <div class="login-logo">
        <p><b>Pub</b> Finanças pessoais</p>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
    
          <form class="form-signin" method="post">{% csrf_token %}

            <h1 class="h3 mb-3 font-weight-normal text-center">Perfil</h1>
  
            <input type="email" name="email" id="inputEmail" class="form-control mb-3" placeholder="E-mail" required
              autofocus value="{{account_form.initial.email}}">
  
            <input type="text" name="username" id="inputUsername" class="form-control mb-3" placeholder="Username"
              required value="{{account_form.initial.username}}">
  
            {% for field in account_form %}
            <p>
              {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
            {% endfor %}
            </p>
            {% endfor %}
            {% if account_form.non_field_errors %}
            <div style="color: red;">
              <p>{{account_form.non_field_errors}}</p>
            </div>
  
            {% endif %}

            <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Salvar alterações</button>
          </form>
    
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
    
    <!-- jQuery -->
    <script src="{% static 'vendor/AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'vendor/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'vendor/AdminLTE/dist/js/adminlte.min.js' %}"></script>
    
    
    </body>