{% load static %}
{% load humanize %}

{% include 'partials/_head.html' %}

<head>
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
</head>

<body> 
    {% include 'partials/_side_bar.html' %}
    
    <div class="content">
      {% include 'partials/messages.html' %}
      
      <div class="title">
            <h1 class="title">Dashboard</h1>
        </div>

        {% if not last_balance %}

          <p>
            Não foi possivel calcular a dashboard.
          </p>

        {% else %}
        <div class="row">
            <div class="col-lg-3 col-2">
              <!-- small box -->
              <div class="small-box bg-light">
                <div class="inner">
                  <h5 class="mb-0">Ultimo saldo verificado</p>
                  <h4 class="number mb-0">R$ {{ last_balance.value | intcomma }}</h4>
                  <p class="text-muted">{{ last_balance.date }}</p>
                </div>
                <div class="icon">
                  <i class="fas fa-calendar"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-2">
              <!-- small box -->
              <div class="small-box bg-light">
                <div class="inner">
                  <h5>Saldo Estimado</p>
                  <h4 class="number">R$ {{ estimated_balance | intcomma }}</h4>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-light">
                <div class="inner">
                  <h5>Receitas</h5>
                  <h4 class="number">R$ {{ total_income | intcomma }}</h4>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-light">
                <div class="inner">
                  <h5>Despesas</h5>
                  <h4 class="number">R$ {{ total_expense | intcomma }}</h4>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
              </div>
            </div>
        </div>
    </div>

    {% endif %}

</body>
