{% load static %}

{% include 'partials/_head.html' %}

<body class="login-page" style="min-height: 496.781px;">
  <div class="login-box">
    <div class="login-logo">
      <p><b>Pub</b> Finanças Pessoais</p>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">

        <form class="form-signin" method="POST">{% csrf_token %}

          <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>

          <input type="text" name="username" id="inputUsername" class="form-control mb-3" placeholder="Username" required
            autofocus>

          <input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Senha"
            required>

          {% if messages %}
          {% for message in messages %}
          <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          {% endfor %}
          {% endif %}

          <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Log in</button>
        </form>

        <!-- /.social-auth-links -->

        <p class="mb-1 text-center">
          <a href="#">Esqueci minha senha</a>
        </p>
        <p class="mb-0 text-center">
          <a href="{% url 'register' %}" class="text-center">Registrar uma nova conta</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

  <!-- jQuery -->
  <script src="{% static 'vendor/AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'vendor/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'vendor/AdminLTE/dist/js/adminlte.min.js' %}"></script>

  
</body>