{% load static %}

{% include 'partials/_head.html' %}

<head>
  <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>

<body>
  <div class="main-login">
    <div class="left-login">
      <h1>Faça login<br>Para gerenciar as suas finanças.</h1>
    </div>
    <form method="POST">{% csrf_token %}
        <div class="right-login">
          <div class="card-login">
            <h1>LOGIN</h1>
            <div class="textfield">
              <label for="username">Usuário</label>
              <input type="text" name="username" placeholder="Usuário" autofocus>
            </div>
            <div class="textfield">
              <label for="password">Senha</label>
              <input type="password" name="password" placeholder="Senha">
            </div>
            {% if messages %}
              {% for message in messages %}
                <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            {% endif %}
            <button class="btn-login" type="submit">Login</button>
            <p class="text-center mb-0">
              <a href="{% url 'register' %}" style="color: #00ff88;">Cadastrar uma nova conta</a>
            </p>
          </div>
        </div>
      </form>
  </div>

  <!-- jQuery -->
  <script src="{% static 'vendor/AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'vendor/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'vendor/AdminLTE/dist/js/adminlte.min.js' %}"></script>

  
</body>