{% load static %}

{% include 'partials/_head.html' %}

<body class="register-page" style="min-height: 570.781px;">
    <div class="register-box">
      <div class="register-logo">
        <p><b>Pub</b> Finanças Pessoais</p>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
    
          <form class="user" method="POST">
            {% csrf_token %}

            <h1 class="h3 mb-3 font-weight-normal text-center">Cadastrar uma conta</h1>
  
            <input type="text" name="username" id="inputUsername" class="form-control mb-3" placeholder="Username" required autofocus>
            
            <input type="email" name="email" id="inputEmail" class="form-control mb-3" placeholder="E-mail" required>
  
            <input type="password" name="password1" id="inputPassword1" class="form-control mb-3" placeholder="Senha" required>
            
            <input type="password" name="password2" id="inputPassword1" class="form-control mb-3" placeholder="Confirmar senha" required>

  
            <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Cadastrar</button>
          </form>
    
          <p class="text-center mb-0">
            <a href="{% url 'login' %}">Eu já tenho uma conta</a>
          </p>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    
    <!-- jQuery -->
    <script src="{% static 'vendor/AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'vendor/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'vendor/AdminLTE/dist/js/adminlte.min.js' %}"></script>
    
    
    </body>