{% load static %}

{% include 'partials/_head.html' %}

<body class="register-page" style="min-height: 570.781px;">
    <div class="register-box">
      <div class="register-logo">
        <p><b>Pub</b> Finanças Pessoais</p>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Register a new membership</p>
    
          <form method="post">
            {% csrf_token %}
            {% for field in registration_form %}
              <p>
                {{field.label_tag}}
                {{field}}
              </p>
            {% endfor %}

            <button class='btn btn-info col-12'type="submit">register</button>
          </form>
    
          <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i>
              Sign up using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i>
              Sign up using Google+
            </a>
          </div>
    
          <a href="{% url 'login' %}" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    
    <!-- jQuery -->
    <script src="{% static 'vendor/AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'vendor/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'vendor/AdminLTE/dist/js/adminlte.min.js' %}"></script>
    
    
    </body>